{% extends "layout.html" %}

{% block body %}

    <div class="col">
        <form action="/compare" enctype="multipart/form-data" method="post">

            <input type="file" name="file1"><br>
            <input type="file" name="file2"><br>

            <input type="radio" id="lines" name="algorithm" value="lines">
            <label for="lines">lines</label><br>

            <input type="radio" id="sentences" name="algorithm" value="sentences">
            <label for="sentences">sentences</label><br>

            <input type="radio" id="substrings" name="algorithm" value="substrings">
            <label for="substrings">substrings</label><br>
            <input type="number" id="number" name="length" min="1"><br>

            <input type="submit" value="Compare">

        </form>
    </div>

{% endblock %}
